/*import fonts from google fonts*/
.ballet-uniquifier> {
    font-family: "Eagle Lake", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    .b {
        font-family: "Jim Nightshade", serif;
        font-weight: 400;
        font-style: normal;
      }
      .eagle-lake-regular {
        font-family: "Eagle Lake", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      
  }
.jim-nightshade-regular {
    font-family: "Eagle Lake", Times, serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* css reset */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 5em;
}

/*default styles for whole page*/
body {
    color: #f8f6f6;
    border-color: #fcfafa;
    background-color: #4b0547;
}

/*content container to centre content */
.container {
    max-width: 1920px;
    margin: 0rem auto 0rem auto;
}

/*default styling for headings */
H1 {
    text-align: center;
    color: hsl(0, 60%, 98%);
    font-family: "Jim Nightshade", Times, serif;
    line-height: 1.1;
    font-weight: 700;
    }
H2 {
        text-align: center;
        color: hsl(0, 1%, 38%);
        font-family: "Jim Nightshade", Times, serif;
        line-height: 3;
        font-weight: 700;
        }
H3,
H4,
H6,
H6 {
    color: hsl(120, 26%, 96%);
    font-family: "Jim Nightshade", Times, serif;
    line-height:1;
    font-weight: 100;
}

/*specific styles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 0rem;
    font-weight: 900;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;

}

h3 {
    font-size: 2.0rem;
    margin-bottom: 0.5rem;

}

h4 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

/* Paragraphs */

p {
    font-family: "Eagle Lake", Arial, Helvetica, sans-serif;
    font-weight: 20;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}

/*paragraph large */
p.large {
    font-family: "Eagle Lake", Georgia, 'Times New Roman', Times,
        serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

ul {
    list-style: disc outside;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
}

ul li {
    font-family: "Jim Nightshade", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

/* hyperlinks */
a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #006bc3;
}

a:hover {
    color: #00447B;
}

a:visited {
    color: #04f430;
}

/* images*/
img {
    max-width: 635px;
    width: 100%;
    height: auto;
    border: 5px solid #070808;
    margin-bottom: 1rem;
}

/*blockquote*/
figure.quote {
    border-right: 8px solid #fafafa;
    padding: 10rem 10rem 10rem;
    margin-bottom: 0rem;
}

figure.quote p {
    margin-bottom: 70;
}

figure.quote blockquote {
    margin-bottom: 7.5rem;
}

figure.quote figcaption p {
    font-weight: 100;
}

footer {
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 2rem;
    border-top: 1px solid #fefefe;
}
main {
margin-bottom: 3rem;
}
header{
    border-bottom:2px solid #faf6f6;
    padding:1.5rem 0;
    }
    header p.logo{
    font-weight: 700;
    margin-bottom:0;
    font-size:1.75rem;
    line-height: 1.1;
    }
   
    .colour-block{
    padding:1.5rem 0 3rem 0;
    background-color:#070707;
    margin-bottom:2.5rem;
    }
    .highlight {
        background-color: #09f8c4;
        padding:0 0.5rem;
        }
        /*css grids*/
        .grid {
            display: flex;
            gap:12px;
            flex-direction: row;
        }
        /* CSS grids column widths */
.grid-col-third {
    flex-basis: 33.33%;
    }
    .grid-col-twoThirds {
    flex-basis: 66.66%;
    }
/* media queries */
@media only screen and (max-width:1920px) {
    .container {
    margin: 0 24px 0 24px;
    }
    }
    @media only screen and (max-width: 768px) {
    }
    @media only screen and (max-width: 600px) {
    .container {
    margin: 0 16px 0 16px;
    }
    }
    /* media queries */
@media only screen and (max-width:1920px) {
    .container {
    margin: 0 24px 0 24px;
    }
    }
    @media only screen and (max-width: 768px) {
    .grid {
    flex-direction: column;
    }
    }
    @media only screen and (max-width: 600px) {
    .container {
    margin: 0 16px 0 16px;
    }
    }
    @media only screen and (max-width: 600px) {
        .container {
        margin: 0 16px 0 16px;
        }
        h1{
        font-size: 2.25rem;
        margin-bottom: 1rem;
        }
        h2{
        font-size: 1.875rem;
        }
        h3{
        font-size: 1.5rem;
        }
        h4{
        font-size: 1.25rem;
        }
        }
        @media only screen and (max-width: 600px) {
            /*add below headings*/
            p.large {
            font-size: 1.25rem;
            margin-bottom: 2rem;
            }
            p{
            font-size: 1rem;
            margin-bottom: 1rem;
            }
            }
            @media only screen and (max-width: 600px) {
                /*add below paragraphs*/
                ul {
                margin-bottom: 1rem;
                }
                ul li {
                font-size: 1rem;
                margin-bottom: .5rem;
                }
                }
                @media only screen and (max-width: 600px) {
                    /*add below lists*/
                    header p.logo{
                    font-size:1.25rem;
                    }
                    .colour-block{
                    padding:2rem 0;
                    margin-bottom:2rem;
                    }
                    

                        
                        
                      } 
              
                    

 